<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Buscar Trabajador
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="app">
  <!-- <ion-button [routerLink]="['/worker-day/1']">trabajador</ion-button> -->

  <form action="" class="search-worker-form">
    <img src="/assets/icon/search.svg">
    <input class="worker-form-input" type="text" placeholder="Buscar por nombre o apellido" (input)="onSearchChange($event.target.value)">
  </form>

  <div class="workers-list">
    
    <div class="item" *ngFor="let worker of workerListFiltered">
      <div class="info">
        <div class="avatar"></div>
        <div class="text">
          <h4>{{worker.fullName}}</h4>
          <p>{{worker.rut}}</p>
        </div>
      </div>
      <button class="button-go" [routerLink]="['/worker-day/' + worker.id]">Editar</button>
    </div>    
 

  </div>

</ion-content>
