<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Resumen del Cuartel
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/worker-find']">
        <ion-icon src="/assets/icon/search.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="app">

  <div class="cost-center-header" *ngIf="costCenter">
    <h1>
      {{costCenter.name}}
    </h1>
    <div class="variety">
      <img src="/assets/img/leaf-icon.png">
      <p>
        Cerezo - Lapins
      </p>
    </div>
    <div class="location">
      <img src="/assets/img/locate-icon.png">
      <p>
        Esta al lado del otro cuartel pero mas abajo del otro cuartel
      </p>
    </div>
  </div>

  <div class="cost-center-stats" *ngIf="costCenter">
    <div class="total-workers">
      <div class="item">
        <h2>{{costCenter.todayWorkerDays}}</h2>
        <p>Personas</p>
      </div>
    </div>
    <div class="total-amount">
      <div class="item">
        <h2>{{costCenter.todayTotal}}</h2>
        <p>Total</p>
      </div>
    </div>
  </div>

  <div class="workers" *ngIf="workerDayList">
    <h1>Trabajadores del Cuartel</h1>

      <div class="card worker-card no-clickeable" *ngFor="let workerDay of workerDayList">
        <div class="card-header">
          <div class="worker-header">
            <h3>{{workerDay.worker_name}}</h3>
            <p>{{workerDay.worker_rut_formated}}</p>
          </div>
          <div class="worker-att">
            <ion-toggle checked="{{!workerDay.absence}}" (ionChange)="absenceChange($event.detail.checked, workerDay.id)" ></ion-toggle>
          </div>
        </div>
        <div class="card-body">
          <p><b>{{workerDay.labors_count}} Actividades</b></p>
          <p *ngFor="let workerLabor of workerDay.labors ">
            {{workerLabor.cost_center_name}} / {{workerLabor.labor_name}}
          </p>
          <!-- <p>Cuartel Furta / Poda <span>⭐</span></p>
          <p>Cuartel Fruta 2 / Poda</p> -->
        </div>
        <button class="button-edit" [routerLink]="['/worker-day',workerDay.worker_id]">Editar</button>
      </div>


  </div>

</ion-content>
<!-- 
<ion-footer>
  <ion-toolbar>
    <button class="button-go" [routerLink]="['/worker-list']">Pasar Lista</button>
  </ion-toolbar>
</ion-footer> -->
