<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Seleccionar Labor 
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content class="app">


  <form action="" class="search-worker-form">
    <img src="/assets/icon/search.svg">
    <input class="worker-form-input" type="text" placeholder="Buscar" (input)="onSearchChange($event.target.value)">
  </form>

  <div class="workers-list">
    
    <div class="item" *ngFor="let labor of laborListFiltered" (click)="laborClick(labor)">
      <div class="info">

        <div class="text">
          <h4 style="text-transform: capitalize;">{{labor.name}}</h4>
        </div>
      </div>
    </div>    
 

  </div>
</ion-content>