// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Colores **/
  --dark-green: #5fae31;
  --green: #85cb33;
  --light-green: #ebf2ee;
  // --light-mid-green: #e7efee;
  --ultra-light-green: #f7fcf9;

  --black: #373737;
  --border-gray: #cfdfdd;

  --ultra-light-blue: #e7efee;
  --blue: #005377;
  --light-blue: #a1bac5;

  --red: #F1381F;

  --ion-font-family: 'Source Sans Pro', sans-serif;

}

// BASE
ion-content {
  --background: var(--ultra-light-green);
}

ion-content.auth {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 2;
  .auth-back {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    &:before {
      content: "";
      background-image: url('../assets/img/lines-background-top.png');
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      position: absolute;
      width: 100%;
      height: 58%;
      // z-index: 1;
    }
  }
  // &:before {
  //   content: "";
  //   background-image: url('../assets/img/lines-background-top.png');
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   top: 0;
  //   position: absolute;
  //   width: 100%;
  //   height: 58%;
  //   z-index: 1;
  // }
  .data {
    box-sizing: border-box;
    height: 93%;
    margin: auto;
    width: 88%;
    position: relative;
    z-index: 3;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    img {
      width: 50vw;
      height: auto;
      margin-bottom: 42px;
    }
    form {
      text-align: center;
      width: 100%;
      input {
        width: 100%;
        margin-bottom: 12px;
        padding: 14px 18px;
        font-size: 14px;
        outline: none;
        box-shadow: none;
        color: var(--black);
        border: solid 1px var(--ultra-light-green);
        border-radius: 4px;
        box-shadow: 4px 10px 14px rgba(13, 93, 86, 0.06);
      }
      button {
        background-color: var(--dark-green);
        color: white;
        font-size: 14px;
        width: 100%;
        font-weight: 600;
        border-radius: 4px;
        padding: 15px 18px;
        margin-top: 2px;
        margin-bottom: 18px;
      }
      a {
        display: block;
        font-size: 14px;
        text-decoration: none;
        color: var(--black);
        font-weight: 700;
      }
    }
  }
  .credits {
    box-sizing: border-box;
    height: 7%;
    position: relative;
    z-index: 2;
    margin: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      width: 20vw;
    }
  }
}

ion-content.app {
  --padding-top: 22px;
  --padding-end: 20px;
  --padding-bottom: 36px;
  --padding-start: 20px;
}

ion-toolbar {
  --background: var(--ultra-light-green);
  --padding-top: 8px;
  // --padding-end: ;
  --padding-bottom: 8px;
  // --padding-start: ;
  ion-title {
    img {
      height: 24px;
    }
  }
}

ion-button {
  outline: none;
}

ion-icon {
  outline: none;
}

ion-back-button {
  --color: var(--black) !important;
}

// COMPONENTS
.stat-item {
  border: solid 1px var(--border-gray);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
  padding: 15px 6px 17px;
  h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 2px;
    color: var(--dark-green);
  }
  p {
    margin: 0;
    width: 100%;
    font-weight: 600;
    color: var(--black);
    font-size: 14px;
  }
}

.highlighted {
  color: var(--dark-green);
}

.card {
  background: white;
  border: solid 1px var(--ultra-light-blue);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 26px 24px;
  outline: none;
  box-shadow: 4px 10px 14px rgba(13, 93, 86, 0.06);
  &.no-clickeable {
    box-shadow: 4px 10px 14px rgba(13, 93, 86, 0);
  }
  &:hover,
  &:active,
  &:focus {
    box-shadow: 4px 10px 14px rgba(13, 93, 86, 0);
  }
}

.button-edit {
  outline: none;
  background: var(--blue);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 15px 18px;
}

.button-go {
  outline: none;
  background: var(--dark-green);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 15px 18px;
}

.button-delete {
  outline: none;
  background: var(--red);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 15px 18px;
}

ion-toggle {
  --background-checked: var(--green);
}

ion-footer {
  background: var(--ultra-light-green);
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 26px;
    top: -26px;
    background: linear-gradient(180deg, rgba(247, 252, 249, 0) 0%, #F7FCF9 100%);
  }
  ion-toolbar {
    --padding-top: 0px;
    --padding-bottom: 22px; 
    --border-color: var(--ultra-light-green);
    width: 92%;
    margin: auto;
    button {
      width: 100%;
    }
    .total-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 92%;
      margin: auto;
      .total {
        p {
          font-size: 14px;
          width: 100%;
          color: var(--black);
          margin: 0;
        }
        h4 {
          font-size: 21px;
          width: 100%;
          color: var(--black);
          margin: 0;
          font-weight: 700;
        }
      }
      button {
        width: 30%;
      }
    }
  }
  &.footer-worker-list {
    // border-top: solid 1px var(--border-gray);
    &:before {
      display: none;
    }
    ion-toolbar {
      width: 100%;
      --border-color: var(--border-gray);
      --padding-top: 18px;
      --padding-bottom: 18px;
    }
  }
}

// DASHBOARD
.dash-back {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  &:before {
    content: "";
    background-image: url('../assets/img/lines-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    position: absolute;
    width: 100%;
    height: 58%;
    // z-index: 1;
  }
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 38px;
  position: relative;
  z-index: 2;
  img {
    width: 20vw;
    height: 100%;
    margin-bottom: 29px;
  }
  h1 {
    color: var(--black);
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  &.dashboard-stats {
    margin-bottom: 36px;
    .stat-item {
      width: 31%;
      background: var(--ultra-light-green);
    }
  }
  &.card-stats {
    .stat-item {
      width: 48%;
    }
  }
}

.cost-centers {
  position: relative;
  z-index: 2;
  .card {
    &:nth-child(n+2) {
      margin-top: 17px;
    }
    h3 {
      margin: 0;
      color: var(--blue);
      font-weight: 700;
      font-size: 22px;
      line-height: 125%;
      margin-bottom: 6px;
    }
    .location {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 20px;
      img {
        margin-right: 6px;
      }
      p {
        font-size: 14px;
        margin: 0;
      }
    }

  }
}

// COST CENTER
.cost-center-header {
  margin-bottom: 20px;
  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
    margin-bottom: 14px;
    color: var(--blue);
  }
  .variety {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 4px;
    img {
      margin-right: 8px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  .location {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    img {
      margin-right: 8px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

.cost-center-stats {
  border-top: solid 1px var(--ultra-light-blue);
  border-bottom: solid 1px var(--ultra-light-blue);
  padding: 18px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  .total-workers {
    width: 50%;
    padding: 4px 15px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: var(--dark-green);
      border-radius: 2px;
      top: 0;
      left: 0;
      bottom: 0;
    }
   .item {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-wrap: wrap;
    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      margin-bottom: 2px;
    }
    p {
      width: 100%;
      margin: 0;
      font-size: 14px;
      color: var(--black);
    }
   } 
  }
  .total-amount {
    width: 50%;
    padding: 4px 15px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: var(--blue);
      border-radius: 2px;
      width: 4px;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
    }
    .item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      h2 {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 125%;
        margin-bottom: 2px;
      }
      p {
        width: 100%;
        margin: 0;
        font-size: 14px;
        color: var(--black);
      }
      } 
  }
}

.workers {
  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 18px;
    color: var(--black);
  }
  .worker-card {
    &:nth-child(n+2) {
      margin-top: 15px;
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      .worker-header {
        margin-bottom: 14px;
        h3 {
          margin: 0;
          font-weight: 700;
          color: var(--black);
          font-size: 18px;
          line-height: 130%;
        }
        p {
          margin: 0;
          font-size: 14px;
          color: var(--black);
        }
      }
      // .worker-att {
        
      // }
    }
    .card-body {
      // margin-bottom: 20px;
      p {
        margin: 0;
        font-size: 14px;
        color: var(--black);
        b {
          font-weight: 700;
        }
      }
    }
    button {
      margin-top: 20px;
      width: 100%;
    }
  }
}

// WORKER SEARCH
form.search-worker-form {
  margin-bottom: 14px;
  position: relative;
  img {
    top: 10px;
    left: 14px;
    width: 18px;
    position: absolute;
  }
  .worker-form-input {
    width: 100%;
    background: var(--light-green);
    padding: 10px 12px 10px 46px;
    border: none;
    color: var(--black);
    outline: none;
    border-radius: 4px;
    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      color: var(--black) !important;
    }
  }
}

.workers-list {
  .item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 16px 0;
    &:nth-child(n+2) {
      border-top: solid 1px var(--ultra-light-blue);
    }
    .info {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background-color: var(--light-blue);
        margin-right: 10px;
      }
      .text {
        h4 {
          margin: 0;
          font-weight: 700;
          font-size: 14px;
          color: var(--black);
        }
        p {
          color: var(--black);
          margin: 0;
        }
      }
    }
    button {
      width: 80px;
    }
  }
}

// WORKER LIST
.worker-list-header {
  h1 {
    font-size: 24px;
    color: var(--black);
    line-height: 115%;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
  }
}

.order-by {
  margin-bottom: 24px;
  select {
    border: none;
    border-radius: 0px;
    border-top: solid 1px var(--ultra-light-blue);
    border-bottom: solid 1px var(--ultra-light-blue);
    padding: 14px 0;
    outline: none;
    width: 100%;
    background: var(--ultra-light-green);
    background-repeat: no-repeat;
    background-image: url('../assets/icon/arrow-down.svg');
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
}

// WORKER DAY
.the-worker-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  .avatar {
    width: 57px;
    height: 57px;
    border-radius: 57px;
    margin-right: 16px;
    background-color: var(--light-blue);
  }
  .info {
    h2 {
      font-size: 22px;
      line-height: 115%;
      font-weight: 700;
      margin: 0;
      color: var(--black);
    }
    p {
      margin: 0;
      color: var(--black);
      font-size: 14px;
      line-height: 130%;
    }
  }
}

.button-the-worker {
  width: 100%;
  margin-bottom: 24px;
}

.activities {
  padding-top: 23px;
  border-top: solid 1px var(--ultra-light-blue);
  h3 {
    margin: 0;
    font-size: 20px;
    color: var(--black);
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 18px;
  }
  .activity-item {
    border-radius: 4px;
    background-color: white;
    border: solid 1px var(--ultra-light-blue);
    // padding-top: 18px;
    padding-left: 17px;
    padding-right: 17px;
    overflow: hidden;
    &:nth-child(n+2) {
      margin-top: 14px;
    }
    .excerpt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 18px;
      padding-bottom: 18px;
      .data {
        h3 {
          margin: 0;
          font-weight: 700;
          font-size: 18px;
          color: var(--black);
        }
        p {
          margin: 0;
          font-size: 14px;
          color: var(--black);
        }
      }
      .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .button-edit {
          .edit {
            display: block;
          }
          .hide-edit {
            display: none;
          }
          .close {
            display: none;
          }
          .show-close {
            display: block;
          }
        }
        .button-delete {
          padding: 10px 18px;
          margin-left: 8px;
          img {
            width: 20px;
          }
        }
      }
    }
    .collapsible {
      box-sizing: border-box;
      padding-bottom: 18px;
      display: none;
      transition: all ease 0.3s;
      opacity: 0;
      visibility: hidden;
      height: 0%;
      &.visible {
        opacity: 1;
        height: 100%;
        visibility: visible;
        display: block !important;
      }
      .labor {
        border-top: solid 1px #efefef;
        padding-top: 18px;
        padding-bottom: 18px;
        .item {
          &:nth-child(n+2) {
            padding-top: 20px;
          }
          h5 {
            margin: 0;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 8px;
          }
          select {
            border-radius: 2px;
            border: 1px solid #B3B3B3;
            width: 100%;
            background-color: white;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 7px 14px;
            background-repeat: no-repeat;
            background-image: url('../assets/icon/arrow-down.svg');
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;
            option {}
          }
          input {
            border-radius: 2px;
            border: 1px solid #B3B3B3;
            width: 100%;
            background-color: white;
            outline: none;
            padding: 7px 14px;
          }
        }
      }
      .bonus {
        border-top: solid 1px #efefef;
        padding-top: 22px;
        padding-bottom: 18px;
        // border: solid 1px #efefef;
        .header {
          margin-bottom: 14px;
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
          h4 {
            margin: 0;
            font-weight: 700;
            // font-size: 16px;
          }
        }
        .a-bonus {
          border: solid 1px #efefef;
          padding: 20px 16px;
          &:nth-child(n+2) {
            margin-top: 12px;
          }
          .item {
            &:nth-child(n+2) {
              padding-top: 16px;
            }
            h5 {
              margin: 0;
              font-weight: 700;
              font-size: 16px;
              margin-bottom: 8px;
            }
            select {
              border-radius: 2px;
              border: 1px solid #B3B3B3;
              width: 100%;
              background-color: white;
              outline: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              padding: 7px 14px;
              background-repeat: no-repeat;
              background-image: url('../assets/icon/arrow-down.svg');
              background-position: right .7em top 50%, 0 0;
              background-size: .65em auto, 100%;
              option {}
            }
            input {
              border-radius: 2px;
              border: 1px solid #B3B3B3;
              width: 100%;
              background-color: white;
              outline: none;
              padding: 7px 14px;
  
            }
          }
        }
      }
        button {
          width: 100%;
        }
    }
  }
}