<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Planilla
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/worker-find']">
        <ion-icon src="/assets/icon/search.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="app">

  <div class="worker-list-header" *ngIf="farmland">
    <h1>
      Pasar lista<br>
      <span class="highlighted">{{currentDate | date:'dd-MM-yyyy' }}<br></span><br>
      {{farmland.name}}
    </h1>
  </div>

  <div class="order-by">
    <select name="seleccionar-orden" id="" (change)="sortBy($event.target.value)">
      <option value="ASC">Ordenar por Nombre (A - Z)</option>
      <option value="DESC">Ordenar por Nombre - inverso (Z - A)</option>
    </select>
  </div>

  <div class="workers" *ngIf="workerDayList">
    <div class="card worker-card no-clickeable" *ngFor="let workerDay of workerDayList ; let i = index">
      <div class="card-header">
        <div class="worker-header">
          <h3>{{workerDay.workerName}}</h3>
          <p>{{workerDay.workerRut}}</p>
        </div>
        <div class="worker-att">
          <ion-toggle checked="{{!workerDay.absence}}" (ionChange)="absenceChange($event,$event.detail.checked, workerDay.id,i)" ></ion-toggle>
        </div>
      </div>
      <div class="card-body">
        <p><b>{{workerDay.labors.length}} Actividades</b></p>
        <p *ngFor="let workerLabor of workerDay.labors ">
          {{workerLabor.costCenter.name}} / {{workerLabor.labor.name}}
        </p>
        <!-- <p>Cuartel Furta / Poda <span>⭐</span></p>
        <p>Cuartel Fruta 2 / Poda</p> -->
      </div>
      <button *ngIf="!workerDay.absence" class="button-edit" [routerLink]="['/worker-day',workerDay.workerId]">Editar</button>
    </div>

    <!-- <div class="card worker-card no-clickeable">
      <div class="card-header">
        <div class="worker-header">
          <h3>Guillermo Espinosa</h3>
          <p>18.222.222-2</p>
        </div>
        <div class="worker-att">
          <ion-toggle></ion-toggle>
        </div>
      </div>
      <div class="card-body">
        <p><b>2 Actividades</b></p>
        <p>Cuartel Furta / Poda <span>⭐</span></p>
        <p>Cuartel Fruta 2 / Poda</p>
      </div>
      <button class="button-edit" [routerLink]="['/worker-day/1']">Editar</button>
    </div> -->
  </div>

</ion-content>
