<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Asignar Nueva Labor
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/worker-find']">
        <ion-icon src="/assets/icon/search.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="app">
  <div class="activities no-padding">
  
    <div class="activity-item" >
      <form id="create" action="" #create="ngForm" class="collapsible" [class.visible]="true" (ngSubmit)="storeWorkerLabor(create.value)" ngNativeValidate>
        <div class="labor">
          <div class="item">
            <h5>Cuartel</h5>
            <select name="costCenterInput" [(ngModel)]="selectedCostCenter" required>
              <option *ngFor="let costCenter of costCenterList" [ngValue]="costCenter">{{costCenter.name}}</option>
            </select>
          </div>
          <div class="item" >
            <h5>N° Cuadrilla</h5>
            <input type="number" name="cuadrillaInput" value="" [(ngModel)]="cuadrillaInput" >         
          </div>
          <div class="item">
            <h5>Labor</h5>
            <select name="laborInput" [(ngModel)]="selectedLabor" required (click)="laborModal(selectedLabor)" onmousedown="(function(e){ e.preventDefault(); })(event, this)">
              <option *ngFor="let labor of laborList" [ngValue]="labor">{{labor.name}}</option>
            </select>


          </div>
          <div class="item">
            <h5>Tipo de Labor</h5>
            <select name="laborTypeInput" [(ngModel)]="selectedLaborType" (change)="laborTypeChange()" required>
              <option *ngFor="let laborTypeItem of laborTypeList" [ngValue]="laborTypeItem">{{laborTypeItem.name}}</option>
            </select>
          </div>
            <!-- labor tipo jornada  -->
            <div class="item" *ngIf="LaborTypeOption == 1">
              <h5>Tipo jornada</h5>
              <select name="quantityInput" [(ngModel)]="quantityInput" (change)="valueChange()">
                <option value="1.0">Jornada Completa</option>
                <option value="0.5">Media Jornada</option>
              </select>
            </div>
            <div class="item" *ngIf="LaborTypeOption == 1">
              <h5>Valor Jornada</h5>
              <input type="number" name="valueInput" value="0" [(ngModel)]="valueInput" (change)="valueChange()">         
            </div>
            <!-- labor tipo trato  -->
            <div class="item" *ngIf="LaborTypeOption == 2">
              <h5>Cantidad de Labor</h5>
              <input type="number" name="quantityInput" value="0" [(ngModel)]="quantityInput" (change)="valueChange()">         
            </div>
            <div class="item" *ngIf="LaborTypeOption == 2">
              <h5>Valor</h5>
              <input type="number" name="valueInput" value="0" [(ngModel)]="valueInput" (change)="valueChange()">         
            </div>
            <!-- labor tipo  hora extra  -->
            <div class="item" *ngIf="LaborTypeOption == 3">
              <h5>Cantidad de horas</h5>
              <input type="number" name="quantityInput" value="0" [(ngModel)]="quantityInput" (change)="valueChange()">         
            </div>
            <div class="item" *ngIf="LaborTypeOption == 3">
              <h5>Valor hora</h5>
              <input type="number" name="valueInput" value="0" [(ngModel)]="valueInput" (change)="valueChange()">         
            </div>
            <!-- labor tipo  hora trabajada  -->
            <div class="item" *ngIf="LaborTypeOption == 4">
              <h5>Cantidad de horas</h5>
              <input type="number" name="quantityInput" value="0" [(ngModel)]="quantityInput" (change)="valueChange()">         
            </div>
            <div class="item" *ngIf="LaborTypeOption == 4">
              <h5>Valor hora</h5>
              <input type="number" name="valueInput" value="0" [(ngModel)]="valueInput" (change)="valueChange()">         
            </div>
            <!-- Produccion (estadistica) -->
            <div class="item" >
              <h5>Produccion (estadistica)</h5>
              <input type="number" name="productionInput" value="0" [(ngModel)]="productionInput" >         
            </div>
        </div>
        <div class="bonus">
          <div class="header">
            <h4>Bonos</h4>
            <ion-toggle mode="ios" 
            (ionChange)="toggleBonos($event.detail.checked)" 
           ></ion-toggle>
          </div>
          <div class="a-bonus" *ngIf="bonos_open">
            <div class="item">
              <h5>Colacion</h5>
              <input type="number" name="colacionInput"  min=0 [(ngModel)]="colacionInput" (change)="valueChange()">   
            </div>
            <div class="item">
              <h5>Transporte</h5>
              <input type="number" name="transporteInput"  min=0 [(ngModel)]="transporteInput" (change)="valueChange()">   
            </div>
            <div class="item">
              <h5>Produccion</h5>
              <input type="number" name="produccionInput"  min=0 [(ngModel)]="produccionInput" (change)="valueChange()">   
            </div>
            <div class="item">
              <h5>Otro</h5>
              <input type="number" name="otroInput"  min=0 [(ngModel)]="otroInput" (change)="valueChange()">   
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

</ion-content>

<ion-footer class="footer-worker-list" >
  <ion-toolbar>
    <div class="total-wrapper">
      <div class="total">
        <p>Total</p>
        <h4 >${{selectedLaborTotal}}</h4>
      </div>
      <button type="submit" form="create" class="button-go " *ngIf="!submitDisabled">Guardar</button>
    </div>
  </ion-toolbar>
</ion-footer>
