<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="auth">

  <div class="auth-back"></div>

  <div class="data">
    <img src="assets/logo.svg">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input 
        type="email" 
        placeholder="Ingrese su correo" 
        autocapitalize="none"
        name="email"
        required
        ngModel
      />
      <input 
        type="password" 
        placeholder="Ingrese su contraseña"
        name="password"
        required
        ngModel
      />
      <button type="submit">Entrar</button>
      <a [routerLink]="['/forgot']">Recuperar Contraseña</a>
    </form>
  </div>
  
  <div class="credits">
    <a href="https:/asomic.com">
      <img src="assets/img/asomic.png">
    </a>
  </div>

</ion-content>
