<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <img src="/assets/img/logo.png" alt="">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/worker-find']">
        <ion-icon src="/assets/icon/search.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="app" *ngIf="farmland">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item [hidden]='hideList'>
    <ion-label>Seleccionar un Fundo</ion-label>
    <ion-select placeholder="Seleccionar un Fundo" #myFarmlandSelect (ionChange)='onFarmlandSelect($event)'>
      <ion-select-option value="{{farmland.id}}" *ngFor="let farmland of farmlandList" >{{farmland.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="dash-back"></div>

  <div class="welcome">
    <img src="/assets/img/leafs.png">
    <h1 text-center>
      <span>{{dayTime}}</span>,<br>
      Este es el <span class="highlighted">Resumen de Hoy</span><br>
      {{currentDate | date:'d' }} de <span style="text-transform: capitalize">{{currentDate | date:'MMMM'}}</span> del {{currentDate | date:'yyyy'}}<br>
      <span (click)="openFarmlandSelect()">{{this.farmland.name}} <ion-icon style="font-size: 12px;" src="/assets/icon/arrow-down.svg"></ion-icon></span>
    </h1>
  </div>

  <div class="stats dashboard-stats">

    <div class="stat-item">
      <h2>{{this.farmland.todayTotal}}</h2>
      <p>Total</p>
    </div>
    <div class="stat-item">
      <h2>{{this.farmland.todayPresent}}</h2>
      <p>Presentes</p>
    </div>
    <div class="stat-item">
      <h2>{{this.farmland.todayAbsence}}</h2>
      <p>Ausentes</p>
    </div>

  </div>

  <div class="cost-centers">
    
      <div class="card" [routerLink]="['/cost-center-show',costCenter.id]"   *ngFor="let costCenter of costCenterList">
      
        <h3>{{costCenter.name }}</h3>
        <div class="location">
          <img src="/assets/img/locate-icon.png">
          <p> {{costCenter.description}}</p>
        </div>
        <div class="stats card-stats">
          <div class="stat-item">
            <h2>{{costCenter.todayWorkerDays}}</h2>
            <p>Trabajadores</p>
          </div>
          <div class="stat-item">
            <h2>{{costCenter.todayLabors}}</h2>
            <p>Labores</p>
          </div>
        </div>
      
    </div>
  </div>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="button-go" [routerLink]="['/worker-list']">Pasar Lista</button>
  </ion-toolbar>
</ion-footer>
