<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="openSelect()">
        <ion-icon src="/assets/icon/locate.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <img src="/assets/img/logo.png" alt="">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/worker-find']">
        <ion-icon src="/assets/icon/search.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="app">

  <ion-item [hidden]='hideList'>
    <ion-label>Seleccionar un Fundo</ion-label>
    <ion-select placeholder="Seleccionar un Fundo" #mySelect (ionChange)='openSelect()'>
      <ion-select-option value="1">Fundo 1</ion-select-option>
      <ion-select-option value="2">Fundo 2</ion-select-option>
      <ion-select-option value="3">Fundo 3</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="dash-back"></div>

  <div class="welcome">
    <img src="/assets/img/leafs.png">
    <h1>
      <span>Buenos días</span>,<br>
      Este es el <span class="highlighted">resumen de ayer</span>
    </h1>
  </div>

  <div class="stats dashboard-stats">

    <div class="stat-item">
      <h2>148</h2>
      <p>Total</p>
    </div>
    <div class="stat-item">
      <h2>133</h2>
      <p>Presentes</p>
    </div>
    <div class="stat-item">
      <h2>15</h2>
      <p>Ausentes</p>
    </div>

  </div>

  <div class="cost-centers">

    <div class="card" [routerLink]="['/cost-center-show/1']">
      <h3>Cuartel fruta</h3>
      <div class="location">
        <img src="/assets/img/locate-icon.png">
        <p>Al lado de fruta</p>
      </div>
      <div class="stats card-stats">
        <div class="stat-item">
          <h2>51</h2>
          <p>Trabajadores</p>
        </div>
        <div class="stat-item">
          <h2>3</h2>
          <p>Actividades</p>
        </div>
      </div>
    </div>

    <div class="card" [routerLink]="['/cost-center-show/1']">
      <h3>Cuartel fruta 2</h3>
      <div class="location">
        <img src="/assets/img/locate-icon.png">
        <p>Esta al lado del otro cuartel pero mas abajo del otro cuartel</p>
      </div>
      <div class="stats card-stats">
        <div class="stat-item">
          <h2>82</h2>
          <p>Trabajadores</p>
        </div>
        <div class="stat-item">
          <h2>3</h2>
          <p>Actividades</p>
        </div>
      </div>
    </div>

  </div>

  <button class="button-go" [routerLink]="['/login']">Ir al Login (Provisorio)</button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="button-go" [routerLink]="['/worker-list']">Pasar Lista</button>
  </ion-toolbar>
</ion-footer>
